<header class="main-container">
  <nav class="navbar">
    <p id="logo">Mon<span>S</span>ite</p>
    <ul>
      <li><a href="acceuil">Acceuil</a></li>
      <li><a href="">voir curriculum vitae</a></li>
      <li><a href="commentaire">commentaires</a></li>
    </ul>
    <a class="connexion" href="connexion">Connexion</a>
  </nav>
</header>
