<header class="main-container">
  <nav class="navbar">
    <p id="logo">leMiniCoin</p>
    <ul>
      <li><a href="">Acceuil</a></li>
      <li><a href="/sell">vendre</a></li>
      <li><a href="">voir articles</a></li>
      <a class="connexion" href="">Connexion</a>
    </ul>
  </nav>
</header>
