<header class="main-container">
  <nav class="navbar">
    <p id="logo">leMiniCoin</p>
    <ul>
      <li><a href="">Acceuil</a></li>
      <li><a href="">voir curriculum vitae</a></li>
      <li><a href="commentaire">commentaires</a></li>
    </ul>
    <a class="connexion" href="form">Connexion</a>
  </nav>
</header>
