<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head")%>
  <body>
    <%-include("./partials/header")%>
    <main class="main">
      <section class="section">
        <h1>Profil Createur du site</h1>
        <p>
          Ce site est un projet que j'essaie de mettre en place avec les petites
          connaissances que j'ai pues acquerir en autodidacte depuis fin janvier
          2023
        </p>
        <aside class="aside">
          <div class="para">hvdchvdhvhvdhcvqhsvchqvdscvqhdvc</div>
          <figure>
            <img src="/images/imagehtml/ma_photo.jpg" alt="ma_phto" />
            <figcaption>a propos de moi</figcaption>
          </figure>
        </aside>
      </section>
    </main>
  </body>
</html>
