<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head")%>
  <body>
    <%-include("./partials/header")%>
    <main class="main">
      <section class="section">
        <h1>Profil Createur du site</h1>
        <p class="para">
          Ce site est un projet que j'essaie de mettre en place avec les petites
          connaissances que j'ai pues acquerir en autodidacte depuis fin janvier
          2023
        </p>
        <aside class="aside">
          <img src="/images/imagehtml/ma_photo.jpg" alt="ma_phto" />
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa,
            assumenda ea consequuntur harum, nostrum perferendis, ducimus totam
            itaque nulla blanditiis veritatis nam! Numquam optio soluta, aliquam
            veniam, non rerum repudiandae hic debitis ad sit sapiente ut earum
            temporibus. Nisi temporibus porro expedita fugit mollitia magnam
            quis, rem facilis impedit maxime iusto tenetur sapiente possimus
            praesentium dicta ipsum excepturi eum esse, dolores veritatis
            provident quibusdam. Alias officiis commodi veniam, aliquam, et,
            inventore quasi numquam reiciendis deserunt expedita facilis. Animi
            aut molestiae
            eiushvvdvchdvchqvchvqhdcvhdvhvchdvhcgdhvhdgvhdbvuydbvhdgvh tempora.
            Facere dicta dolore voluptatem ratione? Exercitationem molestias nam
            beatae labore ratione
            hdvhhdvhvcvqsyvazyvfyavzfygazyfvayzgfuazufguebfiugjbvuisfbjvbsubvsjvusbvuquod.
            Qui eveniet aliquam laboriosam laborum dignissimos?
          </p>
        </aside>
      </section>
    </main>
  </body>
</html>
