<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("./partials/head")%>
  </head>
  <body>
    <%-include("./partials/header")%>

    <div class="form-container">
      <form action="/commentaires" method="POST">
        <p class="form-para">Prière de renseigner tous les champs</p>
        <div>
          <label for="name">votre nom</label>
          <input type="text" name="name" />
        </div>

        <div>
          <textarea name="commentaire" id="commentaire" class="error2">
votre commentaire</textarea
          >
        </div>

        <ul class="text-error" id="error"></ul>
        <div>
          <input type="submit" value="publier" class="input-btn" />
        </div>
      </form>
    </div>
    <section class="liste_com">
      <div class="container-com" id="commentaires">
        <h2 class="displayCom">commentaires</h2>
      </div>
    </section>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
