* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(165, 241, 241);
  height: 50px;
}

#logo {
  position: absolute;
  left: 10px;
}

ul li {
  display: inline-block;
  list-style: none;
}
a {
  text-decoration: none;
  margin-left: 60px;
  color: #333;
  font-weight: 700;
}

.connexion {
  position: absolute;
  right: 20px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 50px);
}
h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 60px;
}
p {
  font-size: 1.3rem;
  margin-bottom: 30px;
}
img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
aside {
  border-bottom: solid 2px black;
}

.aside .para {
  float: left;
  margin-top: 50px;
}
.aside figure {
  float: right;
  margin-top: 50px;
}
