* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 0 8px rgb(18, 18, 18, 0.5);
  background-color: rgb(165, 241, 241);
  height: 50px;
  margin: 5px 10px;
  border-radius: 15px;
}

#logo {
  position: absolute;
  left: 10px;
}
ul {
  list-style: none;
}

ul li {
  display: inline-block;
}
a {
  text-decoration: none;
  margin-left: 60px;
  color: #333;
  font-weight: 700;
}
ul a {
  text-transform: uppercase;
  padding: 11px;
}
.navbar ul li a {
  transition: all 0.5s;
  border-radius: 15px;
}

.navbar ul li a:hover {
  background: white;
}

.connexion {
  position: absolute;
  right: 30px;

  padding: 8px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 50px);
}
h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 60px;
}
.para {
  font-size: 1.3rem;
  margin-bottom: 30px;
}
img {
  float: left;
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100px;
  shape-outside: margin-box;
  margin: 0 20px 5px 15px;
}

p {
  text-align: justify;
  margin-right: 20px;
}

/*formulaire commentaire */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  box-shadow: 0 0 7px rgb(18, 18, 18, 0.5);
  border-radius: 10px;
  height: auto;
  width: 400px;
  margin: auto;
  margin-top: 60px;
}
.form-para {
  margin-bottom: 30px;

  font-size: 1.1rem;
  font-weight: 700;
  padding: 10px;
}
input,
textarea {
  outline: none;
}

div {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.redirection {
  margin-bottom: 30px;
}
.redirection a {
  color: rgb(132, 240, 240);
}

/*gestion d'erreur formulaire */

.text-error {
  color: #e74c3c;
  margin-top: 20px;
}
